<div class="container">
  <h1>Create Event Page!</h1>

  <form action="/create" method="POST" id="create_event_form">
  <input type="text" name="name" placeholder="Event Name"><br>
  <input type="text" name="location" placeholder="Event Location"><br>
  <input type="date" name="starts_at" placeholder="Start Time"><br>
  <input type="date" name="ends_at" placeholder="End Time"><br>
  <input type="submit" value="Create Event" class='cool-button'>
  </form>

</div>
