<div class="container">
  <h1>Welcome to the coolest event signup!</h1>

  <ul class='link-list'>
  <li><a href = "/create">Create New Event</a></li>
  <li><a href = "/show">Show All Events</a></li>

</ul>


</div>
