<div class="container">
  <h1>Show Event Page!</h1>
  <% user = User.find(session[:id]) %>
  <% events = user.created_events %>
  <% events.each do |event| %>
  <div class="event">
  <p>Event Name: <%=event.name%> </p>
  <p>Event Location: <%=event.location%> </p>
</div>
  <div id="button">
  <form action="/edit/<%=event.id%>" method="GET">
  <input type="submit" value="Edit Event">
  </form>
  <form action="/delete/<%=event.id%>" method="GET">
  <input type="submit" value="Delete Event">

  </form>
</div>
  <% end %>
  <div id="create_event">
  <form id="create_event" action="/create" method="GET">
  <input type="submit" value="Create Event">
  <div>


</div>
